/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }

.card-seat {
    margin: 5px;
    float: left;
}

.seat {
    background-color: #0f8513; /* Green */
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.seat1 {
    background-color: white; 
    color: black; 
    border: 2px solid #0f8513;
}

.seat1:hover {
    background-color: #0f8513;
    color: white;
}

.seat2 {
    background-color: #c22c07; 
    color: white; 
    border: 2px solid #c22c07;
}

.seat2:hover {
    background-color: white;
    color: black;
  }

.card-seat .code {
    color: #fff;
    text-align: center;
    
}

.card {
	border:1px solid rgba(0,0,0,.1);
	border-radius:2px;
    width: 100%;
	margin-bottom:15px;
}

.card-block {
	margin: auto;
}

.img-modal{
    display: flex;
    justify-content: center;
}

.card-download {
    display: flex;
}

.card-download .code {
    margin: auto;
}